<h1><%= @restaurant.name %> (<%= @restaurant.rating %>)</h1>
<h2><%= @restaurant.address %></h2>
<hr>
<h3><%= @restaurant.type_of_food %></h3>


<a href="/">Go back to all restaurants in the galaxy</a>
